body{
    background-color: rgb(247, 240, 232);
}
#addpro{
    background-color: rgb(161, 163, 139);
    padding-left: 150px;
}
#shopcart{
    background-color: rgb(161, 163, 139);
    padding-left: 150px;
}
#listproduct{
    background-color: rgb(161, 163, 139);
    padding-left: 150px;
}